include _common.pug

doctype html
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title フィルター編集 - ESFilter
    +style()
    style.
      th {
        background-color: #bbc8ee;
      }
      table, td, th {
        border: 1px solid #abe;
      }
      input[max="255"] {
        width: 3em !important;
      }
      input[type="number"] {
        width: 5em;
      }
      #filter_image {
        max-width: 300px;
        max-height: 300px;
      }
      #colorsample {
        border: 1px solid black;
        width: 50px;
        height: 50px;
      }
      #area_window, #colorpicker_window {
        display:none;
        background-color: black;
        position: absolute;
        left: 10px;
        top: 0;
        width: 800px;
        height: 500px;
        border: 1px solid black;
        overflow: auto;
      }
      #area_window {
        z-index: 1;
      }
      #area_mask {
        background-color: white;
        position: absolute;
        z-index: 2;
      }
      #area_image {
        opacity: 0.5;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
      }
      #colorpicker_image {
        position: absolute;
        left: 0;
        top: 0;
      }
      .test_match {
        background-color: #ddffdd;
        color: green;
        border-color: green;
      }
      canvas {
        border: 1px solid black;
      }
    script(src="https://unpkg.com/tesseract.js@v2.0.0-beta.1/dist/tesseract.min.js")
    script(src="../scripts/filter.js")
  body
    +header("..")
    h1 フィルター編集
    hr
    div.back
      a(href="../filters") 戻る
    form#filter_form(action=param.filter.name + '/edit' method="post")
      table
        tbody#filter_settings
          tr
            th フィルター名
            td=param.filter.name
          tr
            th 分類先フォルダー名
            td
              input(type="text" name="folder" value=param.filter.folder)
          tr
            th 比較対象
            td
              a(href="javascript:void(0);" onclick="loadImage();") 画像を読み込む
              br
              img#filter_image
              input(type="hidden" name="image" value=param.image)
          tr#filter_addcondition
            th(colspan="2")
              a(href="javascript:void(0);" onclick="addCondition();") 条件を追加する
          tr
            th(colspan="2")
              ="文字認識"
          tr
            th 有効にする
            td
              if param.filter.ocrEnabled
                input(type="checkbox" name="ocr_enabled" checked="checked")
              else
                input(type="checkbox" name="ocr_enabled")
          tr
            th 対象領域
            td
              ="左上座標: ("
              input(type="number" name="ocr_left" value=param.filter.ocrLeft oninput="updateCoordinate(-1);")
              =" , "
              input(type="number" name="ocr_top" value=param.filter.ocrTop oninput="updateCoordinate(-1);")
              =")"
              br
              ="サイズ: "
              input(type="number" name="ocr_width" value=param.filter.ocrWidth oninput="updateCoordinate(-1);")
              =" x "
              input(type="number" name="ocr_height" value=param.filter.ocrHeight oninput="updateCoordinate(-1);")
              br
              a(href="javascript:void(0);" onclick="selectArea(-1, this);") 領域を表示
          tr
            th 文字色
            td
              ="RGB: ("
              input(type="number" name="ocr_r" min="0" max="255" value=param.filter.ocrR oninput="updateColor();")
              =" , "
              input(type="number" name="ocr_g" min="0" max="255" value=param.filter.ocrG oninput="updateColor();")
              =" , "
              input(type="number" name="ocr_b" min="0" max="255" value=param.filter.ocrB oninput="updateColor();")
              =")"
              div#colorsample
              a(href="javascript:void(0);" onclick="getColor(this);") 色を取得
          tr
            th 比較方法
            td
              select(name="ocr_space")
                for value, key in { rgb: 'RGB 色空間', r: 'R のみ', g: 'G のみ', b: 'B のみ', y: '輝度 のみ', lab: 'L*a*b* 色空間' }
                  if key === param.filter.ocrSpace
                    option(value=key selected="selected")=value
                  else
                    option(value=key)=value
          tr
            th しきい値
            td
              input(type="number" name="ocr_threshold" min="0" value=param.filter.ocrThreshold)
          tr
            th 白抜き文字対策
            td
              input(type="checkbox" name="ocr_fills" checked=param.filter.ocrFills)
              ="外側を塗りつぶす"
          tr
            th(colspan="2")
              input(type="button" value="決定" onclick="onFilterSubmit();")
    script
      ="window.addEventListener('load',function(){"
      for condition, index in param.filter.conditions
        !="addCondition(" + JSON.stringify(condition) + ");"
      ="});"
    hr
    h2 フィルターの動作テスト
    p
      select#test_folder
        for folder in param.folders
          option(value=folder)=folder
      =" から画像を "
      input#test_count(value="10")
      =" 枚ロード "
      input#test_load(type="button" value="ロード" onclick="testLoad();")
      =" "
      input#test_exec(type="button" value="計算実行" onclick="testExec();" disabled)
    p#test_message
    table
      thead#test_thead
        tr
          th 画像
      tbody#test_tbody
        
    div#area_window
      div
        div#area_mask
        img#area_image
    div#colorpicker_window
      div
        img#colorpicker_image
    div.back
      a(href="../filters") 戻る
    +footer("..")
