mixin pagelink()
  div.pagelink
    =" | "
    - for (var i = 0; i < param.pages; i++) {
      if (i === param.page)
        =i
        =" | "
      else
        a(href=param.folder + "?page=" + i)=i
        =" | "
    - }

doctype html
html
  head
    meta(name="viewport" content="width=640")
    title=param.folder + " の画像一覧 - ESFilter"
    script(src="../scripts/images.js")
    style.
      li, hr {
        clear: both;
      }
      a.image {
        display: block;
        float: left;
        margin-right: .3em;
      }
      .filename {
        color: green;
        font-size: .8em;
      }
      .dimension {
        color: gray;
        font-size: .8em;
        margin-inline-start: .5em;
      }
      .filter {
        color: royalblue;
        font-size: .8em;
        margin-inline-start: .5em;
      }
      ul {
        padding: 0;
      }
      li {
        list-style: none;
      }
      .menuopen {
        color: blue;
        font-size: .8em;
        margin-inline-start: .5em;
      }
      .menuhidden {
        display: none;
      }
      .menu {
        line-height: 2em;
      }
      .pagelink {
        clear: both;
      }
  body
    p
      a(href="..") 戻る
    h1=param.folder + " の画像一覧"
    hr
    +pagelink()
    ul
      for file, index in param.files
        li
          a.image(href=param.folder + "/" + file.name target="_blank")
            img(src=param.folder + "/" + file.name + "?type=thumb")
          span.filename("ファイル名")=file.name
          span.dimension(title="画像のサイズ")=file.width + "x" + file.height
          span.filter(title="マッチしたフィルター")=file.filter
          a.menuopen(href="javascript:void(0);" onclick="(function(e){e.className=e.className==='menuhidden'?'menu':'menuhidden';})(this.nextElementSibling);") メニュー▼
          div.menuhidden
            a(href="javascript:void(0);" onclick="sendback('" + param.folder + "','" + file.name + "');") 未分類へ戻す
            br
            a(href=param.folder + "/" + file.name + "/edittext") 文字認識結果を編集する
          div
            span.text(title="文字認識の結果")=file.text
    +pagelink()
    hr
    p
      a(href="..") 戻る
