include _common.pug

mixin pagelink()
  div.pagelink
    =" | "
    - for (var i = 0; i < param.pages; i++) {
      if (i === param.page)
        =i
        =" | "
      else
        a(href="search?q=" + param.q + "&folder=" + param.folder + "&page=" + i)=i
        =" | "
    - }

doctype html
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title="検索 - ESFilter"
    +style()
    style.
      td {
        vertical-align: top;
      }
      img {
        display: block;
        margin: .3em .1em .3em 0;
      }
      .filename {
        color: green;
        font-size: .8em;
      }
      .dimension {
        color: gray;
        font-size: .8em;
      }
      .filter {
        color: royalblue;
        font-size: .8em;
      }
      .menuopen {
        color: blue;
        font-size: .8em;
        white-space: nowrap;
      }
      .menuhidden {
        display: none;
      }
      .menu {
        line-height: 2em;
      }
      .pagelink {
        margin: .3em;
      }
      @media only screen and (max-width: 512px) {
        img {
            max-width: 192px;
        }
        .pagelink {
          text-align: center;
        }
      }
      @media only screen and (max-width: 384px) {
        img {
            max-width: 128px;
        }
      }
      label {
        display: inline-block;
      }
    script(src="../scripts/images.js")
  body
    +header(".")
    h1 検索
    hr
    form(action="search" method="get")
      label
        ="キーワード: "
        input(type="text" name="q" value=param.q)
      =" "
      label
        ="検索対象: "
        select(name="folder")
          option(value="")="|すべてのフォルダー|"
          for folder in param.folders
            if (param.folder === folder)
              option(value=folder selected="selected")=folder
            else
              option(value=folder)=folder
      =" "
      input(type="submit" value="検索")
    +pagelink()
    table
      tbody
        for file in param.files
          tr
            td
              a.image(href="images/" + file.folder + "/" + file.name target="_blank")
                img(src="images/" + file.folder + "/" + file.name + "?type=thumb")
            td
              span.filename("ファイル名")=file.folder + "/" + file.name
              =" "
              span.dimension(title="画像のサイズ")=file.width + "x" + file.height
              =" "
              span.filter(title="マッチしたフィルター")=file.filter
              =" "
              a.menuopen(href="javascript:void(0);" onclick="(function(e){e.className=e.className==='menuhidden'?'menu':'menuhidden';})(this.nextElementSibling);") メニュー▼
              div.menuhidden
                a(href="javascript:void(0);" onclick="sendback('images/" + file.folder + "','" + file.name + "',{q:'" + param.q + "',folder:'" + param.folder + "',page:'" + param.page + "'});") 未分類へ戻す
                br
                a(href="images/" + file.folder + "/" + file.name + "/edittext?q=" + param.q + "&folder=" + param.folder + "&page=" + param.page) 文字認識結果を編集する
              div
                span.text(title="文字認識の結果")=file.text
    +pagelink()
    +footer(".")
